$darkBlue : hsl(209, 23%, 22%);
$verydarkBlue : hsl(207, 26%, 17%);
$verydarkBlueLight :  hsl(200, 15%, 8%);
$darkGreyLight : hsl(200, 15%, 8%);
$veryLightGrey : hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%)

